body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 800px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.question {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: #444;
  border: 1px solid #ccc;
}

li:hover {
  background-color: #f0f0f0;
}

.correct {
  background-color: #a6e22e;
  color: #fff;
}

.incorrect {
  background-color: #f92672;
  color: #fff;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 1;
}

.sidebar {
  width: 250px;
  background-color: #f8f8f8;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50px;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 0;
}

.sidebar.active {
  left: 0;
}
